/*SchoolSite CSS by Alejandro Suazo*/
/* ----------- general css -----------*/
@font-face {
    font-family: 'trashhandregular';
    src: url('../fonts/TrashHand-webfont.eot');
    src: url('../fonts/TrashHand-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TrashHand-webfont.woff') format('woff'),
    url('../fonts/TrashHand-webfont.ttf') format('truetype'),
    url('../fonts/TrashHand-webfont.svg#trashhandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    background-color: #1e1e1e;
    background-image: url("../images/CircuitBackround(Suazo).png");
}

h1
{
    font-family: trashhandregular;
}

h2
{
    font-family: sans-serif;
    color: white;
}

h3
{
    font-family: sans-serif;
    color: white;
}

a
{
    font-family: trashhandregular;
    color: white;
}

#AboutMe
{
    display: none;
    width: 70%;
    margin: auto;
}

#CoursesContent
{
    display: none;
    width: 70%;
    margin: auto;
}

#CenterContent {
    display: block;
    width: 70%;
    margin: auto;
}

@media screen and (min-width: 1050px) 
{
    #fixedMenuButton {
        position: fixed;
        font-size: 3em;
        color: lightgray;
        margin-left: 1%;
        top: 4%;
        cursor: pointer;
        z-index: 100;
    }

    #fixedMenuButton:hover {
        color: white;
    }

    #fixedMenu {
        width: 20em;
        position: fixed;
        height: 100%;
        background-color: #5DA29F;
        display: none;
        left: 0px;
        top: 0px;
        z-index: 10;
    }

    #fixedMenu h1
    {
        margin-top: 17%;
        margin-left: 2em;
        font-size: 3em;
    }

    .MenuItem
    {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2em;
        font-size: 2em;
        font-family: trashhandregular;
    }

    .leftColumn {
        width: 50%;
        float: left;
    }

    .leftColumn div {
        margin-right: 5%;
        margin-bottom: 5%;
        float: right;
    }

    .rightColumn {
        width: 50%;
        float: right;
    }

    .rightColumn div {
        margin-left: 5%;
        margin-bottom: 5%;
        float: left;
    }

    /* ----------- index.html --------------*/


    .ContentHeader {
        width: 100%;
        margin-top: 3%;
    }

    .ContentHeader h1 {
        font-size: 5em;
        color: white;
        width: 100%;
        text-align: center;
        -webkit-margin-before: 2%;
        -webkit-margin-after: 2%;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

    .ContentHeader div {
        width: 20em;
        padding: .1%;
        margin: auto auto 3% auto;
        background-color: rgba(93, 162, 159, 0.5);
    }

    .ContentHeader div:hover {
        background-color: rgba(93, 162, 159, 0.8);
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
    }

    .ContentHeader div img {
        width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 2%;
    }

    .Content
    {
        margin-top: 3%;
    }

    .newCourseSite {
        width: 30em;
        height: 30em;
        background-color: rgba(239, 188, 161, 0.5);
    }

    .newProject {
        width: 30em;
        height: 30em;
        background-color: rgba(161, 239, 235, 0.5);
    }

    .newCourseSite:hover {
        width: 30em;
        height: 30em;
        background-color: rgba(162, 107, 77, 0.9);
        -webkit-transition: background-color 0.4s ease;
        -moz-transition: background-color 0.4s ease;
        -o-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
    }

    .newProject:hover {
        width: 30em;
        height: 30em;
        background-color: rgba(161, 239, 235, 0.9);
        -webkit-transition: background-color 0.4s ease;
        -moz-transition: background-color 0.4s ease;
        -o-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
    }
    
    /* ---------- Courses ---------- */
    .Course h2
    {
        font-family: trashhandregular;
        font-size: 3em;
        padding-left: .6em;
        padding-top: .5em;
        margin-bottom: 0px;
    }

    .Course h3
    {
        padding-left: 5em;
        padding-bottom: .5em;
        margin-top: 3%;
    }

    #CSCE444Background
    {
        background-image: url("../images/CSCE-444.jpg");

        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);

        position: absolute;
        width: 69%;
        height: 7.9em;
        z-index: -1;

        -webkit-transition: blur 0.4s ease;
        -moz-transition: blur 0.4s ease;
        -o-transition: blur 0.4s ease;
        transition: blur 0.4s ease;
    }

    #CSCE444Background:hover
    {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);

        -webkit-transition: blur 0.4s ease;
        -moz-transition: blur 0.4s ease;
        -o-transition: blur 0.4s ease;
        transition: blur 0.4s ease;
    }

    #CSCE444
    {
        width: 100%;
        height: 7.9em;
    }

    .CourseBackgroundLightOrange
    {
        -webkit-box-shadow: 9px 10px 0px -1px rgba(239,188,161, 0.8);
        -moz-box-shadow: 9px 10px 0px -1px rgba(239,188,161, 0.8);
        -o-box-shadow: 9px 10px 0px -1px rgba(239,188,161, 0.8);
        box-shadow: 9px 10px 0px -1px rgba(239,188,161, 0.8);

        -webkit-transition: box-shadow 0.4s ease;
        -moz-transition: box-shadow 0.4s ease;
        -o-transition: box-shadow 0.4s ease;
        transition: box-shadow 0.4s ease;
    }

    .CourseBackgroundLightOrange:hover
    {
        -webkit-box-shadow: 5px 5px 0px -1px rgba(239,188,161,1);
        -moz-box-shadow: 5px 5px 0px -1px rgba(239,188,161,1);
        -o-box-shadow: 5px 5px 0px -1px rgba(239,188,161,1);
        box-shadow: 5px 5px 0px -1px rgba(239,188,161,1);

        -webkit-transition: box-shadow 0.4s ease;
        -moz-transition: box-shadow 0.4s ease;
        -o-transition: box-shadow 0.4s ease;
        transition: box-shadow 0.4s ease;
    }
}

@media screen and (max-width: 1049px) 
{
    #fixedMenuButton {
        position: fixed;
        font-size: 3em;
        color: lightgray;
        margin-left: 1%;
        top: 4%;
        cursor: pointer;
        z-index: 100;
    }

    #fixedMenuButton:hover {
        color: white;
    }

    #fixedMenu {
        width: 20em;
        position: fixed;
        height: 100%;
        background-color: #5DA29F;
        display: none;
        left: 0px;
        top: 0px;
    }

    .leftColumn {
        width: 100%;
        display: block
    }

    .leftColumn div {

    }

    .rightColumn {
        width: 100%;
        display: block
    }

    .rightColumn div {

    }

    /* ----------- index.html --------------*/


    .ContentHeader {
        width: 100%;
        margin-top: 7%;
    }

    .ContentHeader h1 {
        font-size: 5em;
        color: white;
        width: 100%;
        text-align: center;
        -webkit-margin-before: 2%;
        -webkit-margin-after: 2%;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

    .ContentHeader div {
        width: 20em;
        padding: .1%;
        margin: auto auto 7% auto;
        background-color: rgba(93, 162, 159, 0.5);
    }

    .ContentHeader div:hover {
        background-color: rgba(93, 162, 159, 0.8);
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
    }

    .ContentHeader div img {
        width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 2%;
    }

    .Content
    {
        margin-top: 7%;
    }

    .newCourseSite {
        width: 30em;
        height: 30em;
        background-color: rgba(239, 188, 161, 0.5);
        margin: 2% auto;
    }

    .newProject {
        width: 30em;
        height: 30em;
        background-color: rgba(161, 239, 235, 0.5);
        margin: 5% auto;
    }

    .newCourseSite:hover {
        width: 30em;
        height: 30em;
        background-color: rgba(162, 107, 77, 0.9);
        -webkit-transition: background-color 0.4s ease;
        -moz-transition: background-color 0.4s ease;
        -o-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
    }

    .newProject:hover {
        width: 30em;
        height: 30em;
        background-color: rgba(161, 239, 235, 0.9);
        -webkit-transition: background-color 0.4s ease;
        -moz-transition: background-color 0.4s ease;
        -o-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
    }
}