body
{

}

.BodyBackgroundFill
{
    background-image: url(../img/OriginalMetropolitan.png);
}

#BackgroundButton
{
    width: 150px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    left: 5px;
}