@font-face
{
    font-family: 'geometry_soft_probold_n';
    src: url('../fonts/geometrysoftpro-boldn-webfont.eot');
    src: url('../fonts/geometrysoftpro-boldn-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/geometrysoftpro-boldn-webfont.woff2') format('woff2'),
    url('../fonts/geometrysoftpro-boldn-webfont.woff') format('woff'),
    url('../fonts/geometrysoftpro-boldn-webfont.ttf') format('truetype'),
    url('../fonts/geometrysoftpro-boldn-webfont.svg#geometry_soft_probold_n') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    background-color: rgba(128, 154, 128, 1);
}

.BodyBackgroundFill
{
    background-image: url(../img/OriginalMetropolitan.png);
    z-index: 10 !important;
}

.ShowWord
{
    z-index: 100;
    visibility: visible !important;
}

#Mine
{
    font-size: 48px;
    position: fixed;

    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);

    font-family: Impact;
    color: rgba(255,255,255, 0.5);
    top: 250px;
    left: 900px;

    visibility: hidden;
}

#Original
{
    font-size: 48px;
    position: fixed;

    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);

    font-family: Impact;
    color: rgba(255,255,255, 0.5);
    top: 250px;
    left: 900px;

    visibility: hidden;
}

#BackgroundButton
{
    width: 150px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 1000;
}

#ToMainButton
{
    width: 150px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    left: 160px;
    z-index: 1000;
}

#ToVariantButton
{
    width: 150px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    left: 160px;
    z-index: 1000;
}

#BackgroundDiv
{
    width: 1917px;
    height: 950px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#SideBar
{
    height: 100%;
    width: 140px;
    margin-left: 8.5px;
    padding-top: 66px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: absolute;
}

#SideBarContent
{
    width: 100%;
    height: 460px;
    background-color: rgba(110, 129, 110, 1);
    padding-top: 12.5px;
    padding-left: 1.5px;
}

#SideBarContent h1
{
    font-size: 14px;
    margin-left: 6.5px;
    -webkit-margin-before: 1px;
    -webkit-margin-after: 0em;
    font-weight: 100;
    letter-spacing: 0.5px;
}

#SideBarContent h2
{
    font-size: 12px;
    -webkit-margin-before: 3.5px;
    -webkit-margin-after: 3.5px;
    margin-left: 15.5px;
    font-weight: 100;
    letter-spacing: 0.5px;
}

.SubTitle
{
    background-color: rgba(102,133,112, 1);
    height: 14px;
    width: calc(100% - 3px);
    font-size: 12px;
    letter-spacing: 0.7px;
    padding-left: 4px;
    color: white;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    margin-bottom: 4px;
}

.SubTitle span
{
    padding-left: 11px;
}

#TitleBar
{
    width: 500px;
    height: 63px;
    padding: 3px;
    padding-top: 0px;
    color: rgba(102, 51, 51, 1);
}

#TitleBar img
{

    padding: 3px;
    padding-top: 0px;
    left: -5px;
    top: -0.1px;
    position: absolute;
}

.leftColumn
{
    display: inline;
    position: absolute;
    left: 245px;
    top: 5px;
    font-size: 21px;
    letter-spacing: 5.6px;
}

.rightColumn
{
    display: inline;
    position: absolute;
    left: 462px;
    top: 10px;
    font-family: geometry_soft_probold_n;
    font-size: 8px;
    letter-spacing: 2px;
    width: 200px;
}

#The5000YearsText
{

}

#MetropolitanText
{
    font-size: 37px;
    position: absolute;
    top: 16px;
    left: 185px;
    letter-spacing: 9.7px;
    color: white;
}

#MuseumOfArtText
{
    position: absolute;
    top: 45px;
    left: 285px;
    font-size: 21px;
    letter-spacing: 4.6px;
    width: 300px;
}

#Content
{
    margin-left: 150px;
}

#CenterContent
{
    padding-left: 4px;
    width: 566.9px;
}

#SpecialExhibitionsContent
{
    width: 100%;
    height: 281px;
    background-color: rgba(110, 129, 110, 1);
    margin-bottom: 4px;
}

.CenterImage
{
    margin-top: 8px;
    margin-left: 29px;
    cursor: pointer;
}

#SelectedHighlightsContent
{
    width: 100%;
    height: 169.5px;
    background-color: rgba(110, 129, 110, 1);
    margin-bottom: 4px;
}

.Description
{
    font-family: geneva, arial, sans-serif;
    font-size: 10.1px;
    display: inline-block;
    width: 150px;
    color: white;
    position: absolute;
}

.DescriptionDetailTitle
{
    font-family: geneva, arial, sans-serif;
    text-decoration: underline;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.DescriptionDetails
{
    color: rgba(255, 247, 206, 1);
}

#FooterContent
{
    margin-left: 32px;
    margin-top: 15px;
}

/* Super specific element stuff (this exists because the assignment noted in the coding standards section: "Put all of
    your style declarations into a separate .css file. Access them in your HTML via the class attribute, the name
    attribute, or through HTML element level declarations")

    These are case specific styles that would normally exist on the html in a style attribute, because it's extremely
    specific and shouldn't be in the .css in my opinion
    */

#TimelineOfArtHistory
{
    margin-top: 4px !important;
}

#MetStore
{
    margin-top: 4px !important;
    letter-spacing: 0.7px !important;
}

.MarginAndSpacingFix
{
    margin-top: 4px !important;
    letter-spacing: 0.8px !important;
}

#SupportTheMet
{
    letter-spacing: 0.7px !important;
}

.TopMarginFix
{
    margin-top: 5px !important;
}

#News
{
    margin-top: 5px !important;
    letter-spacing: 0.8px !important;
}

#Search
{
    margin-top: 9px !important;
    letter-spacing: 0.8px !important;
}

#SearchBox
{
    margin-left: 4px !important;
    margin-top: 5px !important;
    width: 85px !important;
}

#GoButton
{
    margin-left: -3.5px !important;
    margin-top: 1px !important;
}

.MiddleAndRightImage
{
    margin-top: 8px !important;;
    cursor: pointer !important;;
    margin-left: 26px !important;
}

#ExhibitionDescriptions
{
    margin-left: 29px !important;
}

#ChuckClosePrints
{
    width: 135px !important;
    margin-top: 1px !important;
}

#TreasuresOfALostArt
{
    margin-left: 180px !important;
    margin-top: 1px !important;
}

#ThirdEntry
{
    margin-left: 360px !important;
    margin-top: 1px !important;
}

#MoreSpecialExhibitions
{
    left: 591px !important;
    top: 354px !important;
}

#SubTitleSpan
{
    padding-left: 13px !important;
}

.FirstImage
{
    margin-left: 16px !important;
    margin-top: 3.8px !important;
}

.FirstAndSecondRowImages
{
    margin-left: 122px !important;
    margin-top: 3.8px !important;
}

.FirstRowImageDescriptions
{
    width: 100px !important;
    font-size: 13px !important;
    margin-left: 4px !important;
    margin-top: 4px !important;
}

#FirstRowLastDescription
{
    width: 120px !important;
    font-size: 13px !important;
    margin-left: 4px !important;
    margin-top: 4px !important;
}

#SecondRowFirstDescription
{
    width: 110px !important;
    font-size: 13px !important;
    margin-left: 4px !important;
    margin-top: 3.5px !important;
}

.SecondRowDescriptions
{
    width: 100px !important;
    font-size: 13px !important;
    margin-left: 4px !important;
    margin-top: 3.5px !important;
}

#SecondRowLastDescription
{
    width: 100px !important;
    font-size: 13px !important;
    margin-left: 8px !important;
    margin-top: 3.5px !important;
}

#CopyrightInformation
{
    width: 400px !important;
}

#TermsAndConditionsLink
{
    width: 300px !important;
    margin-top:11px !important;
    display: inline-block !important;
}

#LineAfterTermsAndConditions
{
    margin-left: 104px !important;
    margin-top:11px !important;
    color: white !important;
    font-size: 10.1px !important;
    position: absolute !important;
}

#PrivacyPolicyLink
{
    margin-left: 110px !important;
    margin-top:11px !important;
    display: inline-block !important;
}

#ContactInformationLink
{
    width: 300px !important;
    margin-top: 32px !important;
    display: inline-block !important;
}

#LineAfterContactInformation
{
    margin-left: 94.1px !important;
    margin-top:32px !important;
    color: white !important;
    font-size: 10.1px !important;
    position: absolute !important;
}

#CareerOpportunitiesLink
{
    margin-left: 100px !important;
    margin-top:32px !important;
    display: inline-block !important;
}

#AcknowledgmentsLink
{
    width: 300px !important;
    margin-top: 59px !important;
    display: inline-block !important;
}

#WhatsOnline
{
    background-color: rgba(102,133,112, 1);
    height: 14px;
    width: calc(100% - 4px);
    font-size: 11.5px;
    letter-spacing: 0.7px;
    padding-left: 5.5px;
    color: white;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    margin-bottom: 4px;
}

.MAC .Description
{
    font-size: 9.1px;
    letter-spacing: 0.3px;
    line-height: 11px;
}

.MAC .FirstRowImageDescriptions
{
    width: 105px !important;
    font-size: 12px !important;
    margin-left: 4px !important;
    margin-top: 4px !important;
    line-height: 15px;
    letter-spacing: -0.1px;
}

.MAC #FirstRowLastDescription
{
    width: 120px !important;
    font-size: 12.5px !important;
    margin-left: 4px !important;
    margin-top: 4px !important;
    line-height: 15px;
    letter-spacing: 0px;
}

.MAC #SecondRowFirstDescription
{
    width: 110px !important;
    font-size: 12px !important;
    margin-left: 4px !important;
    margin-top: 3.5px !important;
    line-height: 15px;
    letter-spacing: -0.1px;
}

.MAC .SecondRowDescriptions
{
    width: 110px !important;
    font-size: 12px !important;
    margin-left: 4px !important;
    margin-top: 3.5px !important;
    line-height: 15px;
    letter-spacing: -0.1px;
}

.MAC #SecondRowLastDescription
{
    width: 105px !important;
    font-size: 12.5px !important;
    margin-left: 8px !important;
    margin-top: 3.5px !important;
    line-height: 15px;
    letter-spacing: 0px;
}

.MAC #ContactInformationLink,
.MAC #CopyrightInformation
{
    letter-spacing: 0.1px;
}

